@import'./../../constants/variables';

.favorites {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 10%;
  overflow: auto;
  box-sizing: border-box;
  margin: 20px 0 0 0;

  &__item {
    width: 100%;

    &__poster {
      height: 90px;
      box-sizing: border-box;
    }

    &__poster:hover {
      box-sizing: border-box;
      padding: 4px 4px;
      border: 2px solid $_color_Mandy;
    }
  }
}

.favorites::-webkit-scrollbar {
  display: none;
}