@import './../../../constants/variables';
@import './../../../constants/_colors';

.search-result {
  margin: $margin-base;
  overflow: auto;
  flex-wrap: wrap;
  height: $result-height;

  &__movie-card {
    margin: $margin-base;
    width: 20%;

    &__poster {
      width: 100%;
      height: 250px;
      box-sizing: border-box;
    }

    &__poster:hover {
      box-sizing: border-box;
      padding: 4px 4px;
      border: 2px solid $_color_Mandy;
    }

    &__header {
      justify-content: space-between;
      margin-top: $margin-small;
    }

    &__title {
      color: $_colors_Dove_Gray;
      font-weight: bold;
      font-size: large;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__date {
      font-size: smaller;
      margin-right: $margin-small;
      border: $border-base;
      padding: 2px 5px;
      border-radius: $border-radius-small;
    }

    &__genres {
      font-size: x-small;
      color: $_colors_Dove_Gray;
    }

    &__favorite {
      cursor: pointer;
    }

    &__favorite:hover {
    color: $_colors_Dove_Gray;
    }
  }
}

.fav {
  color: $_color_Green;
}

.no-films-found {
  display: flex;
  padding: 80px 0;
  width: 100%;
  justify-content: center;
}


