//names from http://chir.ag/projects/name-that-color/

/* private variables */;
$_color_Mandy:                  #E04860;
$_color_Outer_Space:            #303A41;
$_color_Black:                  #050505;
$_color_White:                  #FFFFFF;
$_color_Crown_of_Thorns:        #761E2C;
$_colors_Dove_Gray:             #696969;
$_color_Silver_Chalice:         #B0B0B0;
$_color_Green:                  #02ff00;