@import './_colors';

/* Padding */
$padding-small:                         .4rem;
$padding-base:                          .8rem;

/* Margin*/

$margin-small:                           5px;
$margin-base:                           20px;
$margin-X:                              50px;

/* Common*/
$header_height:                         250px;
$result-height:                         550px;
$buttons_padding:                       3px 15px;

/* Search input*/
$search_input_opacity:                  0.9;
$search_input_height:                   30px;
$search_input_font_size:                20px;

/* Search button*/
$search_button_font_size:               13px;

/* Border*/
$border-radius-small:                   5px;
$border-radius-circle:                  50%;
$border-base:                           1px solid $_colors_Dove_Gray;