@import './_colors';

/* Padding */
$padding-small:                         .4rem;
$padding-base:                          .8rem;

/*Margin*/
$margin-base-horizontal:                1.2rem;
$margin-x-small-vertical:               0.5rem ;
$margin-small-vertical:                 1rem;
$margin-base-vertical:                  1.2rem;

/*Common*/
$header_height:                         350px;
