@import 'colors';
@import'mixins';

/* Padding */
$padding-small:                         .4rem;
$PADDING_SMALL:                          10px;
$padding-base:                          .8rem;
$padding-XL:                             25px 100px;
$padding-integer:                        5px 11px;
$padding-fractional:                     6px;
/* Margin*/

$margin-small:                           5px;
$margin-base:                           20px;
$margin-X:                              50px;

/* Common*/
$HEADER_HEIGHT:                         250px;
$result-height:                         450px;
$buttons_padding:                       3px 15px;
$buttons_padding_hover:                 1px 13px;
$app_width:                             900px;

/* Border*/
$border-radius-small:                   5px;
$border-radius-circle:                  50%;
$border-base:                           1px solid $_COLOR_DOVE_GRAY;
