@import '../../styles/variables';

.detailed-info {
  padding: $padding-base;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)), url("./../../assets/background.jpg");
  background-size: cover;
  color: $_COLOR_WHITE;

  .title-vote,
  .poster-date-duration {
    margin-top: 50px;
  }

  .poster-date-duration {
    width: 180px;

    .date,
    .duration,
    .overview {
      color: $_COLOR_WHITE;
    }

    .duration {
      font-weight: bold;
    }

    .poster {
      display: flex;
      height: 265px;
      width: 180px;
    }

    .date {
      font-weight: bold;
      font-size: large;
    }
  }

  .title-vote {
    height: 34px;
    margin-left: 20px;

    i {
      margin-right: 10px;
    }

    .title {
      color: $_COLOR_MANDY;
      font-weight: bolder;
      font-size: large;
      margin-right: 5px;
    }

    .rating-tagline {
      margin: 40px 0 40px 0;

      .rating {
        border-radius: $border-radius-circle;
        border: 1px solid $_COLOR_WHITE;
        width: 20px;
        margin-right: 10px;
      }
    }

    .tagLine {
      color: $_COLOR_SILVER_CHALICE;
    }
  }

  .overview {
    font-size: small;
  }
}

.favorite {
  cursor: pointer;
}

.fav {
  color: $_COLOR_GREEN !important;
}

.favorite:hover {
  color: $_COLOR_DOVE_GRAY;
}
