@import "./../../styles/variables";

.search-results {
  position: absolute;
  top: 240px;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: $margin-small;
  -webkit-overflow-scrolling: touch;
}

.nav-bar {
  background-color: $_COLOR_OUTER_SPACE;
  width: 100%;
}

.search-results-detailed {
  position: static;
}
