@import "./../../styles/variables";

.search-results {
  position: absolute;
  top: 190px;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: $margin-small;
  -webkit-overflow-scrolling: touch;
}

.list {
  width: 100%
}

.nav-bar {
  background-color: $_COLOR_OUTER_SPACE;
  width: 100%;
  @include row-direction;

  span {
    padding: $padding-small;
  }
}

.search-results-detailed {
  position: static;
}

@media (min-width: 320px) and (orientation: landscape) {
  .search-results {
    top: 165px;
    @include row-direction;

    .list {
      @include row-direction;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .search-results {
    top: 275px;
    padding: 0 10%;
    box-sizing: border-box;

    .list {
      flex-wrap: wrap;
      @include row-direction;
    }
  }
}

@media (min-width: 1401px) {
  .search-results {
    top: 275px;
    padding: 0 10%;
    box-sizing: border-box;

    .list {
      flex-wrap: wrap;
      @include row-direction;
    }
  }
}
