@import './../../styles/variables';

.header {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .back {
      color: $_COLOR_MANDY;
      margin-right: 30px;
    }

    .title {
      color: $_COLOR_MANDY;
      font-weight: bold;
    }
  }

}
