@import './../../constants/variables';

.footer {
  background-color: $_color_Outer_Space;
  padding: $padding-base;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: $app_width;
  box-sizing: border-box;
  margin-top: $margin-base;

  span {
    color: $_color_Mandy;
  }
}
