@import './../../constants/variables';
@import './../../constants/_colors';

.footer {
  background-color: $_color_Outer_Space;
  padding: $padding-base;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  margin-top: $margin-base;

  span {
    color: $_color_Mandy;
  }
}
