@import 'styles/variables';

body, html {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.root-container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  outline: none;
  cursor: pointer;
  padding: $buttons_padding;
  border: 0;
  background-color: $_color_Outer_Space;
  color: $_COLOR_WHITE;
  font-size: 13px;
}

.btn:active {
  background-color: $_color_Crown_of_Thorns;
}

.active-button {
  background-color: $_COLOR_Mandy;
}

.active-link {
  color: $_COLOR_Mandy;
}

.link {
  outline: none;
  cursor: pointer;
}

.link:active {
  color: $_color_Crown_of_Thorns;
}

.fractional-border {
  padding: $padding-fractional;
}

.integer-border {
  padding: $padding-integer;
}
