@import 'styles/variables';

body, html {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.root-container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  outline: none;
  cursor: pointer;
  padding: $buttons_padding;
  border: 0;
  background-color: $_COLOR_OUTER_SPACE;
  color: $_COLOR_WHITE;
  font-size: 13px;
}

.btn:active {
  background-color: $_COLOR_CROWN_OF_THORNS;
}

.active-button {
  background-color: $_COLOR_MANDY;
}

.active-link {
  color: $_COLOR_MANDY!important;
}

.link {
  outline: none;
  cursor: pointer;
}

.link:active {
  color: $_COLOR_CROWN_OF_THORNS;
}

.fractional-border {
  padding: $padding-fractional;
}

.integer-border {
  padding: $padding-integer;
}

.disabled-btn {
  background-color: $_COLOR_DOVE_GRAY!important;
}

.space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
